<html>
<head>
	<meta charset="utf-8">
	<title>比賽規劃</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link href="table_style.css" rel="stylesheet" type="text/css" />
	<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
	<script type="text/javascript" src="binary_tree.js"></script>
	<script type="text/javascript" src="set_sheet.js"></script>
	<script type="text/javascript" src="get_firebase.js"></script>
	<script type="text/javascript" src="show.js"></script>
</head>
<body style="height: 100vh; background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);">
    <script type="text/javascript" src="../JS/nav.js"></script>
    <div id="main" style="margin-top: 3%;">
	</div>
    <br>
    <div  style="width: 100%; align-items: center;     text-align:center;">
	   <button class="btn btn-secondary" onclick="set_tree()">產生賽程表</button>
    </div>
</body>
</html>